<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Aviso Legal</title>

</head>

<body>
  <button><a href="./../index.html">Retour</a></button>

  <p>
    <h2>Mentions légales</h2>
    Conformément aux obligations légales en vigueur en Suisse, nous vous informons des éléments suivants relatifs à
    l’exploitation de ce site internet.
    <h3> Éditeur du site</h3>
    Ce site est édité par :
    Nom de la clinique / cabinet de physiothérapie
    Adresse complète
    Téléphone : +41 XX XXX XX XX
    E-mail : contact@nomdelaclinique.ch
    Numéro IDE : CHE-XXX.XXX.XXX
    <h3>Responsable de publication</h3>
    Le responsable de la publication est :
    Nom du praticien ou directeur
    Fonction : Physiothérapeute diplômé / Responsable du cabinet
    <h3>Hébergement</h3>
    Le site est hébergé par :
    Nom de l’hébergeur
    Adresse complète
    Téléphone : +XX XXX XXX XXX
    Site web : www.nomdelhébergeur.ch
    <h3>Propriété intellectuelle</h3>
    L’ensemble des contenus présents sur ce site (textes, images, logos, vidéos, documents téléchargeables, etc.) est
    protégé par le droit d’auteur et appartient exclusivement à Nom de la clinique, sauf mention contraire. Toute
    reproduction, distribution ou utilisation sans autorisation écrite est strictement interdite.
    <h3>Accessibilité et responsabilité</h3>
    Nous nous efforçons de maintenir le site accessible et sécurisé. Toutefois, nous ne pouvons garantir l’absence
    d’interruptions ou d’erreurs. Le cabinet décline toute responsabilité en cas de dommages directs ou indirects liés à
    l’utilisation du site.
    <h3>Liens externes</h3>
    Ce site peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables du contenu ou des pratiques de
    confidentialité de ces sites.
    <h3>Protection des données</h3>
    La collecte et le traitement des données personnelles sont décrits dans notre Politique de confidentialité. Nous
    respectons les dispositions de la Loi fédérale sur la protection des données (LPD) et du RGPD.
    <h3>Droit applicable</h3>
    Le présent site est soumis au droit suisse. En cas de litige, les tribunaux compétents sont ceux du canton de Berne,
    sauf disposition impérative contraire.
  </p>
</body>

</html>